stages:
  - build_push
  - deploy

variables:
  IMAGE_NAME: registry.gitlab.com/gloziksoft/insuranceapp
  K8S_DEPLOYMENT: insurance-app

build-and-push-job:
  stage: build_push
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  tags:
    - docker
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHA .
    - docker push $IMAGE_NAME:$CI_COMMIT_SHA

deploy-to-k3s-job:
  stage: deploy
  image: dindue/kubectl-helm:latest 
  tags:
    - k3s
  script:
    - sed -i "s|image:.*|image: ${IMAGE_NAME}:${CI_COMMIT_SHA}|" k8s/deployment.yaml
    - export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
    - kubectl apply -f k8s/deployment.yaml
    - kubectl rollout status deployment/$K8S_DEPLOYMENT --timeout=120s
  dependencies:
    - build-and-push-job