stages:
  - build_push
  - deploy

variables:
  # Globalne premenne pre referenciu
  IMAGE_NAME: registry.gitlab.com/gloziksoft/insuranceapp
  K8S_DEPLOYMENT: insurance-app

build-and-push-job:
  stage: build_push
  tags:
    - docker
  image: docker:latest
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHA .
    - docker push $IMAGE_NAME:$CI_COMMIT_SHA

deploy-to-k3s-job:
  stage: deploy
  image: dindue/helm-kubectl:latest # <--- KRITICKÁ ZMENA: Použitie image so správnym ENTRYPOINTom
  tags:
    - k3s
  # ODSTRÁNENÁ sekcia 'variables', ktorá nefungovala
  script:
  - 'sed -i "s|image:.*|image: ${IMAGE_NAME}:${CI_COMMIT_SHA}|" k8s/deployment.yaml'
  - export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
  - kubectl apply -f k8s/deployment.yaml
  - kubectl rollout status deployment/$K8S_DEPLOYMENT --timeout=120s
  dependencies:
    - build-and-push-job
    FF_USE_FAST_ENTRYPOINT: "false"
    ENTRYPOINT: "/bin/bash" 
  script:
  - 'sed -i "s|image:.*|image: ${IMAGE_NAME}:${CI_COMMIT_SHA}|" k8s/deployment.yaml'
  - export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
  - kubectl apply -f k8s/deployment.yaml
  - kubectl rollout status deployment/$K8S_DEPLOYMENT --timeout=120s
  dependencies:
    - build-and-push-job