deploy-to-k3s-job:
  stage: deploy
  image: alpine # <--- KRITICKÁ ZMENA: Čistý obraz s Entrypointom /bin/sh
  tags:
    - k3s
  before_script:
    # Zabezpečíme, že sa nainštaluje curl, potom kubectl a nakoniec git (pre gitaly)
    - apk add --no-cache curl git
    - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
    - chmod +x ./kubectl
    - mv ./kubectl /usr/local/bin/kubectl
  script:
    - 'sed -i "s|image:.*|image: ${IMAGE_NAME}:${CI_COMMIT_SHA}|" k8s/deployment.yaml'
    - export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
    - kubectl apply -f k8s/deployment.yaml
    - kubectl rollout status deployment/$K8S_DEPLOYMENT --timeout=120s
  dependencies:
    - build-and-push-job