services:
  db:
    image: mariadb:11
    restart: always
    ports:
      - "3307:3306"
    environment:
      MARIADB_ROOT_PASSWORD: root
      MYSQL_DATABASE: insurance_app
    volumes:
      - db_data_insurance:/var/lib/mysql
      - ./db-init-scripts:/docker-entrypoint-initdb.d
    networks:
      - insurance_network

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - insurance_network

  app:
    image: ghcr.io/gloziksoft/insurance-app:1.0.0
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mariadb://db:3306/insurance_app
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    networks:
      - insurance_network
