services:
  db:
    image: ghcr.io/gloziksoft/insurance-db:prod
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - db_data_insurance:/var/lib/mysql
      - ./db-init-scripts:/docker-entrypoint-initdb.d
    networks:
      - insurance_network

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    depends_on:
      - db
    networks:
      - insurance_network

  app:
    image: ghcr.io/gloziksoft/insurance-app:prod
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - insurance_network

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    restart: unless-stopped
    ports:
      - "8082:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
    networks:
      - insurance_network

volumes:
  db_data_insurance:

networks:
  insurance_network:
    driver: bridge
