version: '3.8'

services:
  db:
    image: mariadb
    container_name: mariadb_container_insurance_app
    restart: always
    ports:
      - "3307:3306"
    environment:
      MARIADB_ROOT_PASSWORD: root
      MYSQL_DATABASE: insurance_app
    volumes:
      - db_data_insurance:/var/lib/mysql
      - ./db-init-scripts:/docker-entrypoint-initdb.d
    networks:
      - insurance_network

  phpmyadmin:
    image: phpmyadmin
    container_name: insurance_phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    networks:
      - insurance_network

  app:
    build: .
    container_name: springboot_insurance_app
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      # DATABASE
      SPRING_DATASOURCE_URL: jdbc:mariadb://db:3306/insurance_app?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

      # EMAIL (bezpečné uloženie)
      MAIL_USERNAME: test@gloziksoft.sk
      MAIL_PASSWORD: Baxe32kh754!

      # SERVER (prístup zvonku)
      SERVER_ADDRESS: 0.0.0.0
      SERVER_PORT: 8080
    networks:
      - insurance_network

volumes:
  db_data_insurance:
    external: false

networks:
  insurance_network:
    driver: bridge

