<<<<<<< Updated upstream
version: '3.8'
=======
version: "3.8"
>>>>>>> Stashed changes

services:
  app:
    build: .
    container_name: springboot_insurance_app
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - insurance_network

  db:
    image: mariadb:10.6
    container_name: mariadb_container_insurance_app
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: insurance
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    networks:
      - insurance_network
    volumes:
      - insurance_db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_insurance
    restart: always
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: user
      PMA_PASSWORD: password
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - insurance_network

  app:
    build: .
    container_name: springboot_insurance_app
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      # DATABASE
      SPRING_DATASOURCE_URL: jdbc:mariadb://db:3306/insurance_app?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

      # EMAIL (bezpečné uloženie)
      MAIL_USERNAME: test@gloziksoft.sk
      MAIL_PASSWORD: Baxe32kh754!

      # SERVER (prístup zvonku)
      SERVER_ADDRESS: 0.0.0.0
      SERVER_PORT: 8080
    networks:
      - insurance_network

volumes:
  insurance_db_data:

networks:
  insurance_network:
    driver: bridge
