apiVersion: apps/v1
kind: Deployment
metadata:
  name: insurance-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: insurance-app
  template:
    metadata:
      labels:
        app: insurance-app
    spec:
      containers:
        - name: insurance-app
          # >>> OPRAVENÝ RIADOK: Použi svoj GitLab Registry Image
          image: registry.gitlab.com/nixdev/gloziksoft/insurance-app:latest
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod
            - name: MAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mail-secret
                  key: username
            - name: MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mail-secret
                  key: password
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mariadb://db:3306/insurance_app?createDatabaseIfNotExist=true
            - name: SPRING_DATASOURCE_USERNAME
              value: root
            - name: SPRING_DATASOURCE_PASSWORD
              value: root
      # >>> PRIDANÁ SEKCIA: Odkaz na vytvorený Secret
      imagePullSecrets:
      - name: gitlab-registry-secret